ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.paginator {
    display: flex;
}

.paginator__item {
    display: flex;
}

.paginator__link {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    font-family: Arial, sans-serif;
}

.paginator__link--active {
    color: white;
    background-color: #ccc;;
}